* {
    margin: 0;
    padding: 0;
}

html {
    background: hsl(200, 34%, 60%);
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    --primary-color: hsl(345, 75%, 40%);
}

header {
    z-index: 10;
    color: var(--primary-color);
    position: absolute;
    display: flex;
    justify-content: space-between;
    li {
        display: inline;
        margin: 0 8px;
    }
}

main {
    display: grid;
    grid-template-rows: minmax(200px, 1fr), repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
}

.tile {
    font-size: 1rem;
    position: relative;
    &.square:nth-child(4n) {
        grid-area: span 2 / span 2;
    }
    &.landscape {
        grid-column: span 2;
    }
    &.portrait {
        grid-row: span 2;
    }
    img {
        display: block;
        object-fit: cover;
        width: 100%;
    }
    figcaption {
        position: absolute;
        bottom: 0;
        padding: 6px;
        background-color: aquamarine;
    }
}

.tile:nth-child(2n) {
    background-color: firebrick;
}